h1 {
  font-size: 40px;
  text-align: center;
  color: #008000;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #008000;
}

.myDiv {
  display: center;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
  color: #885df1;
  font-size: 30px;
}

.myDiv:hover {
  background: #fffbef;
}

p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

button:hover {
  color: #fff;
  background: #885df1;
  border-radius: 55px;
  display: block;
}

button {
  border-radius: 55px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  border: 10px solid #885df1;
  color: #885df1;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: 10px 10px 20px #008080;
  cursor: pointer;
}
